main/src/main/schema/xsd/Scarf/Scarf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://www.swamp.com/com/scarf/struct"
            xmlns:swmp="https://www.swamp.com/com/scarf/struct"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <xsd:element name="AnalyzerReport">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BugInstance" type="swmp:BugInstanceType" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="BugSummary" type="swmp:BugSummaryType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="Metric" type="swmp:MetricType" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="MetricSummaries" type="swmp:MetricSummariesType" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="assess_fw" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="assess_fw_version" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="assessment_start_ts" type="xsd:dateTime" use="required"/>
            <xsd:attribute name="build_fw" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="build_fw_version" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="package_name" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="package_version" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="build_root_dir" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="package_root_dir" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="parser_fw" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="parser_fw_version" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="platform_name" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="tool_name" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="tool_version" type="xsd:normalizedString" use="required"/>
            <xsd:attribute name="uuid" type="xsd:normalizedString" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="BugInstanceType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                The root tag AnalyzerReport has BugInstance as child element, which contains a
                property named "id". There can be multiple occurrence of BugInstance, one per each
                instance of bug from the SwA tools. The "id" attribute in the BugInstance tag is a unique
                integer id generated by the Assessment Parser tool.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ClassName" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Methods" type="swmp:MethodsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="BugLocations" type="swmp:BugLocationsType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="BugGroup" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="BugRank" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="BugSeverity" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Cweld" type="xsd:normalizedString" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="BugMessage" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ResolutionSuggestion" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="BugTrace" type="swmp:BugTraceType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="BugCode" type="xsd:normalizedString" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="BugSummaryType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                The root tag AnalyzerReport can have a child element
                with BugSummary tag. There can be only one occurrence of
                BugSummary.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="BugCategory" type="swmp:BugCategoryType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MethodsType">
        <xsd:sequence>
            <xsd:element name="Method" type="swmp:MethodType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MethodType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
                <xsd:attribute name="id" type="xsd:int" use="required"/>
                <xsd:attribute name="primary" type="xsd:boolean" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="BugLocationsType">
        <xsd:sequence>
            <xsd:element name="Location" type="swmp:LocationType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LocationType">
        <xsd:sequence>
            <xsd:element name="SourceFile" type="xsd:normalizedString" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="StartLine" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="EndLine" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="StartColumn" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="EndColumn" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Explanation" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required"/>
        <xsd:attribute name="primary" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="BugTraceType">
        <xsd:sequence>
            <xsd:element name="BuildId" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="AssessmentReportFile" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="InstanceLocation" type="swmp:InstanceLocationType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InstanceLocationType">
        <xsd:sequence>
            <xsd:element name="Xpath" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="LineNum" type="swmp:LineNumType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LineNumType">
        <xsd:sequence>
            <xsd:element name="Start" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="End" type="xsd:int" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BugCategoryType">
        <xsd:sequence>
            <xsd:element name="group" type="xsd:normalizedString" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="code" type="xsd:normalizedString" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="count" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="bytes" type="xsd:int" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MetricType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                The root tag AnalyzerReport has Metric as child element, which contains a property
                named "id". There can be multiple occurrence of Metric element
                , one per each instance of metric from the SwA tools. The "id" attribute in the
                Metric tag is a unique integer id generated by the Assessment Parser tool.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Location" type="xsd:normalizedString" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Class" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Method" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Type" type="xsd:normalizedString" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Value" type="xsd:normalizedString" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="MetricSummariesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                The root tag AnalyzerReport can have MetricSummaries as a child element. There
                can be only one occurrence of MetricSummaries, if and only if there is at least one
                Metric.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="MetricSummary" type="swmp:MetricSummaryType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MetricSummaryType">
        <xsd:sequence>
            <xsd:element name="Type" type="xsd:normalizedString" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Count" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Sum" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="SumOfSquares" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Minimum" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Maximum" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Average" type="xsd:double" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="StandardDeviation" type="xsd:double" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>

